<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of additional equipment</title>
</head>
<body>
<h1>List of additional equipment:</h1>
<ol>
  <li th:each="equipments : ${equipments}">
    <label>Projector Name:</label>
    <span th:text="${equipments.getProjectorName()}"></span> <br>
    <label>Amount:</label>
    <span th:text="${equipments.getAmount()}"></span> <br>
    <label>Phone:</label>
    <span th:text="${equipments.isPhone()}"></span>
<!--    <span th:text="${equipments.getInternalNumber()}"></span>-->
<!--    <span th:text="${equipments.getExternalNumber()()}"></span> <br>-->
<!--    <label>Interface USB: </label>-->
<!--    <span th:text="${equipments.getInterfaceUSB()}"></span> <br>-->
<!--    <label>Price per hour:</label>-->
<!--    <span th:text="${equipments.getPricePerHour()}"></span> <br>-->
<!--    <label>Price per day:</label>-->
<!--    <span th:text="${equipments.getPricePerDay()}"></span> <br>-->
  </li>
</ol>
</body>
</html>