<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Menu wyboru sali konferencyjnej</title>
  <link rel="stylesheet" type="text/css" href="styles.css"/>
  <script src="script.js" defer></script>
</head>
<body>
<h1>Wybierz, co chcesz zrobić:</h1>
<ul>
  <li><a href="/login">Zaloguj się</a></li>
  <br>
  <li><a href="/register">Zarejestruj się</a></li>
  <br>
  <li><a href="/find">Wyszukaj wolne sale</a></li>
  <br>
  <li><a href="/console">Konsola bazy danych</a></li>
</ul>
</body>
</html>