<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Menu wyboru sali konferencyjnej</title>
  <link rel="stylesheet" type="text/css" href="styles.css"/>
  <script src="script.js" defer></script>
</head>
<body>
<h1>Wybierz, co chcesz zrobić:</h1>
<ul>
  <li><a href="/login">Login</a></li>
  <br>
  <li><a href="/register">Register</a></li>
  <br>
  <li><a href="/find">Search for conference room</a></li>
  <br>
  <li><a href="/console">Database console</a></li>
  <br>
  <li><a href="/invoice">invoice</a></li>
</ul>
</body>
</html>