<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of reservations</title>
</head>
<body>
<h1>List of reservations:</h1>
<ol>
    <li th:each="reservation : ${reservations}">
        <label>Reservation ID:</label>
        <span th:text="${reservation.id}"></span> <br>
        <label>Reservation start Date/Time:</label>
        <span th:text="${reservation.startDate}"></span>
        <span th:text="${reservation.startTime}"></span> <br>
        <label>Reservation End Date/Time:</label>
        <span th:text="${reservation.endDate}"></span>
        <span th:text="${reservation.endTime}"></span> <br>
        <label>Cancelled: </label>
        <span th:text="${reservation.isReservationCancelled()}"></span> <br>
        <hr>
        <label>Room name:</label>
        <span th:text="${reservation.conferenceRoom}"></span> <br>
        <hr>
        <label>Organisation: </label>
        <span th:text="${reservation.organisation.name}"></span> <br>
        <label>Discount:</label>
        <span th:text="${reservation.roomReservationDiscount}"></span>
        <hr>
    </li>
</ol>
</body>
</html>
